<!DOCTYPE html>
<html lang="en">
    

<head>
        
<meta charset="UTF-8">
        
<title>login</title>
    
</head>


    <body>


    <!-- For working with form -->
        
{% block content %}
        
<h1 style="position: fixed; top: 90px; left: 700px;); ">Signup</h1>
            
<form method="signup" class="signup" style="position: fixed; top: 150px; left: 600px; border: #FCA205 5px solid " ;>
{% csrf_token %}
            
{{ form.as_p }}
            
<button type="submit" class="save btn btn-default" style="margin-top: 5px; background: yellow;;">Sign up</button>
                    <button type="button" onclick="window.location.href='http://127.0.0.1:8000/login'" style="margin-left: 15px; background: green; color: ghostwhite;"> Log in</button>     
</form>
        
{% endblock %}


    </body>
</html>